[Unit]
Description=Balboa Spa MQTT Bridge

[Service]
Environment="LOG_LEVEL=WARN" "LOG_VERBOSITY=0"
EnvironmentFile=/etc/bwa_mqtt_bridge.conf
User=pi
ExecStart=/usr/local/bin/bwa_mqtt_bridge $MQTT_URL $BALBOA_LOCATION
Restart=always
RestartSec=3s
Type=notify
NotifyAccess=main
WatchdogSec=60

[Install]
WantedBy=multi-user.target
